i {
	font-style: normal;
}

.select_car {
	width: 45%;
	height: 88%;
	line-height: 30px;
	font-size: 14px;
	color: #333;
	border: 1px solid #ddd;
	margin-top: 10px;
}

.select_title {
	height: 40px;
	background: #e5edf5;
	color: #246eb7;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

.select_cont {
	padding: 10px;
	/*margin-bottom: 10px;*/
	position: relative;
}

.select_cont label {
	height: 30px;
	width: 20%;
	margin: 0 4px;
}

.select_cont input {
	height: 30px;
	width: 30%;
	padding: 4px;
}

.select_cont .select_btn {
	position: absolute;
	padding: 5px;
	border: 1px solid #ddd;
	background: #fff;
	cursor: pointer;
	right: 10px;
}

.car_lis {
	border-top: 1px solid #ddd;
	overflow-y: auto;
	/*height: calc(88% - 90px);*/
}

.car_lis li {
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.car_lis li.on {
	background: #dbebf9;
}

.car_lis li>div {
	height: 140px;
}

.car_lis li>div.car_lis_mid {
	border-left: 1px solid #ddd;
}

.car_lis_left {
	width: 15%;
}

.car_lis_mid {
	width: 85%;
}

.car_lis_right {
	width: 0%;
}

.car_lis_mid>div {
	padding-left: 40px;
	padding-top: 23px;
}

.car_lis_right>div {
	height: 100%;
	text-align: center;
}

.car_lis_left>div {
	height: 50%;
	text-align: center;
}

.qidian_img,
.zhongdian_img {
	padding-top: 5px;
}

.quantian_img {
	height: 100% !important;
}

.qidian_img span,
.zhongdian_img span {
	padding: 3px 4px;
	border-radius: 50%;
	color: #fff;
	margin-top: 4px;
}

.qidian_img span {
	background: #26a5df;
}

.zhongdian_img span {
	background: #ed8f28;
}

.quantian_img span {
	background: #26A5DF;
	word-wrap: break-word;
	display: inline-block;
	width: 20px;
	height: 60px;
	border-radius: 3px;
	color: #fff;
	margin-top: 30px;
}

.qidian,
.zhongdian {
	height: 50%;
	;
}

.qidian i,
.zhongdian i {
	color: #256fb2;
	font-weight: 600;
}

.qidian span,
.zhongdian span {
	display: block;
	line-height: 20px;
}

.car_lis_mid {
	border-right: 1px solid #ddd;
}

.car_lis_mid>div:nth-child(1) {
	border-bottom: 1px solid #ddd;
}

.lucheng,
.haoyou {
	line-height: 45px;
}

.lucheng img,
.haoyou img {
	margin-top: 40px;
}

.lucheng i,
.haoyou i {
	font-size: 12px;
	display: block;
	text-align: center;
}