@charset "utf-8";

/* 你自己的样式 */

.navbar {
	height: 50px;
}

.Hui-aside {
	top: 50px;
	width: 210px;
	background: #34485b;
}

.navbar {
	background: #2b3b4b;
}

.navbar-nav>ul>li,
.navbar-nav>ul>li>a {
	line-height: 20px;
}

.logo {
	font-size: 20px!important;
	color: #fff;
}

#Hui-userbar {
	top: 16px;
}

.Hui-article-box {
	top: 50px;
	left: 210px;
}

.Hui-aside .menu_dropdown dt {
	color: white;
	height: 56px;
	line-height: 56px;
	border-bottom: none;
	background: #2b3b4b;
	margin-bottom: 5px;
	font-size: 15.5px;
	padding-left: 20px;
}

.Hui-aside .menu_dropdown dd li a {
	height: 50px;
	line-height: 50px;
	color: white;
	padding-left: 35px;
	font-size: 14px;
}

.Hui-aside .menu_dropdown dt:hover {
	background: #e34e42;
	color: white;
}

.Hui-aside .menu_dropdown dd li a:hover {
	background: #34485b;
	color: #d4645c;
}

.big-page .Hui-aside {
	left: -210px;
}

.circle {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-right: 10px;
	border: 1px solid;
	background: white;
}

.Hui-aside .menu_dropdown dd li a:hover .circle {
	background: #d4645c;
}

.Hui-aside .menu_dropdown dt .menu_dropdown-arrow {
	color: white;
}

.Hui-aside .menu_dropdown dt .Hui-iconfont {
	color: white;
	margin-right: 7px;
}

.top {
	width: 95%;
	height: 200px;
	border: 1px solid #bababa;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 20px;
	background: white;
}

.top>p {
	margin-left: 20px;
}

.top_item {
	width: 15%;
	height: 100px;
	background: #f4f4f4;
	border-radius: 5px;
	float: left;
	margin-right: 4.5%;
}

.one {
	margin-left: 20px;
}

.top_item>div {
	float: left;
}

.top_item_left {
	margin-top: 15px;
}

.top_item_right {
	margin-top: 22px;
}

.dat {
	color: #ababab;
}

.center {
	width: 95%;
	height: 283px;
	margin: 0 auto;
	margin-top: 33px;
}

.center_item {
	width: 32%;
	height: 283px;
	border: 1px solid #bababa;
	border-radius: 5px;
	float: left;
}

.center_item_two {
	margin-left: 1.8%;
}

.center_item_three {
	float: right;
}

.center_item_title {
	color: #737373;
	font-size: 18px;
	padding: 10px;
	background: #f4f4f4;
	border-radius: 5px 5px 0 0;
}

.center_item_main {
	border-top: 1px solid #bababa;
	padding: 10px;
	height: 98px;
	background: white;
	border-radius: 0 0 5px 5px;
}

.center_item_img {
	float: left;
	width: 35%;
	height: 92px;
	background: url(../../../image/xw.png);
	background-size: 100% 100%;
}

.center_item_nr {
	width: 60%;
	float: right;
	padding-left: 5px;
}

.ri {
	float: right;
}

.fy {
	color: #b1b1b1;
	float: right;
	margin-right: 2%;
}

.fy>img {
	position: relative;
	top: 4px;
}

.left {
	margin-left: 10px;
}

.bottom {
	width: 95%;
	height: 320px;
	margin: 0 auto;
	margin-top: 30px;
}

.bottom_item {
	width: 49%;
	height: 320px;
	border: 1px solid #bababa;
	float: left;
	border-radius: 5px;
}

.bottom_item_main {
	padding: 10px;
	background: white;
	border-top: 1px solid #bababa;
	;
}

.bottom_item_main>a>span {
	float: right;
}

.bottom_item_main>a {
	color: #9b9b9b;
	margin-bottom: 15px;
	display: block;
}

.bottom_item_main>a:hover {
	color: #828282;
	font-weight: bold;
}

.bottom_item_two {
	float: right;
}

.dislpayArrow {
	left: 210px;
}

.dataTables_filter,
.dataTables_length {
	float: left;
	padding-bottom: 20px;
	display: none;
}

table td,
table th {
	text-align: center!important
}

label.error {
	display: none!important;
}

.cen {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 15px;
	margin-top: 15px;
}