.searchbox {
  background-color: #f8f8f8;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3.89vw 0 4.44vw 0;
}
#aaa .list-group{
  margin-bottom: 1px;
}
.searchbox .input-group {
  border: 0;
  border-radius: 2vw;
  overflow: hidden;
  background: #f3f1f2;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #808080 !important;
  font-size: 3.89vw !important;
  letter-spacing: 1px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #808080 !important;
  font-size: 3.89vw !important;
  letter-spacing: 1px;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #808080 !important;
  font-size: 3.89vw !important;
  letter-spacing: 1px;
}

.searchbox .input-group-addon {
  border: 0;
  background: #f3f1f2;
}

.form-control {
  height: 8.33vw !important;
}

.searchbox .form-control {
  color: #808080;
  font-weight: 500;
  background: #f3f1f2;
  border: 0;
  box-shadow: none;
  font-size: 3.89vw;
}

.list-group-item {
  padding: 0;
  padding-left: 3.89vw;
  margin-bottom: 0;
  background: #f4f4f4 !important;
  color: #000000 !important;
  font-size: 3.33vw !important;
  height: 6.67vw !important;
  line-height: 6.67vw !important;
}

.list-group-item.xiangqing {
  padding: 0;
  margin-left: 3.89vw;
  font-size: 3.89vw !important;
  background: #ffffff !important;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  height: 10.56vw !important;
  line-height: 10.56vw !important;
}

.searchIcon {
  display: inline-block;
  width: 3.89vw;
  height: 3.89vw;
  background: url("../images/搜索.png") no-repeat center;
  background-size: 100% 100%;
}

body {
  position: relative;
}

#menu {
  position: fixed;
  right: 1vw;
  top: 16vw;
  z-index: 10;
}

#menu a {
  display: block;
  max-width: 30vw;
  margin-top: 6.11vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.78vw;
  text-align: right;
  color: #000;
}

#menu .active {
  color: red;
}

.list-group-item {

}

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
  border: 0;
}
