.container {
  background: #0a6999;
  flex: 1;
  .box {
    height: 100%;
  }
  .item {
    height: 100%;
    padding: 2% 5%;
    background: #fff;
  }
  .map {
    height: 400px;
    background: #495060;
  }
}
