.container {
  background: #0a6999;
  flex: 1;
  .container_box {
    height: 100%;
  }
  .item {
    height: 100%;
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
      width: 420px;
      background: #fff;
      height: 100%;
    }
    .content2{
      width: 100%;
      background: #fff;
      height: 100%;
    }
  }
  .map {
    height: 400px;
    box-sizing: border-box;
    background: #495060;
  }
}
